.txt {
  &._1 {
    color: pink;
    font-weight: 200;
    font-size: 30px;
  }
  &._2 {
    background-color: red;
    color: green;
    font-weight: 700;
    font-size: 10px;
  }
  &._3 {
    color: lightcyan;
    font-weight: 700;
    font-size: 70px;
  }
}
